*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  text-rendering: optimizeLegibility;
  /* The browser emphasizes legibility over rendering speed, geometric precision. Enables kerning, optional ligatures. */
  font-kerning: normal;
  /* Specifies that kerning is applied (rather than at user's discretion, or not at all) */
  font-size: 100%;
}
body {
  background-color: black;
  color: white;
}
.container {
  margin: 0 auto;
  width: 100%;
}
footer {
  background-color: red;
}
header,
.banner,
section,
footer {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}
.banner {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}
section,
footer {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}
img {
  max-width: 100%;
  margin: 0;
}
h1 {
  font-size: 60px;
}
h2 {
  color: red;
}
