/* ==========================================================================
   BUTTONS
   ========================================================================== */


.button {
    margin: 0.5em auto;
    padding: 0.3em;
    background-color: @black;
    border: 3px solid white;
    max-width: 50%;
    font-size: 1em;
    font-family: 'Roboto';
    font-weight: 200;
      a {
        text-decoration: none;
        color: @white;
        &:hover {
          color: white;
          }
        }
      &:hover {
        background-color: gray;
        }
  }

  .buy {
    color: red;
  }

// .button {
//     position: relative;
//     margin: 0.5em auto;
//     padding: 0.3em;
//     background-color: @black;
//     border: 3px solid white;
//     max-width: 50%;
//     font-size: 1em;
//     font-family: 'Roboto';
//     font-weight: 200;
//       a {
//         text-decoration: none;
//         color: @white;
//         &:hover {
//           color: white;
//           }
//         }
//       &:hover {
//         background-color: gray;
//         }
//   }

// .media-object {
//   position: relative;
//   max-width: 100%;
// }

// .buy, 
// .reserve,
// .info {
//   position: absolute;
//   padding: 0.3em;
//   background-color: @black;
//   border: 3px solid white;
//   width: 50%;
//   font-family: 'Roboto';
//   font-weight: 200;
//   a {
//     text-decoration: none;
//     color: @white;
//     &:hover {
//       color: white;
//     }
//   }
//   &:hover {
//     background-color: gray;
//   }
// }


// .buy {
//   margin-top: -75%;
// }

// .reserve {
//   margin-top: -65%;
// }

// .info {
//   margin-top: -55%;
// }